<div id="milestones" class="container clearfix">
  <section class="today-progress sixteen columns">
    <h3>{{day.label}}</h3>
    <p><strong>{{t 'target' "Target"}}</strong>: {{milestones.daily}}</p>

    <div class="progress">
      <div class="progress-bar" data-width="{{day.ratio}}%"></div>
    </div>
  </section>

  <section class="monthly-progress sixteen columns">
    <h3>{{t month.label month.label}}</h3>
    <p><strong>{{t 'target' "Target"}}</strong>: {{milestones.monthly}}</p>

    {{#each month.weeklyRatios}}
      <div class="weekly-progress four columns alpha">
        <strong>{{t 'week' 'Week' number=index}}</strong>
        <div class="progress">
          <div class="progress-bar" data-width="{{this.ratio}}%"></div>
        </div>
      </div>
    {{/each}}
  </section>
</div>